# Unity (generados)
[Ll]ibrary/
[Tt]emp/
[Pp]ackageCache/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDEs
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.booproj
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
